#field {
    border-collapse: collapse;
    display: flex; justify-content: center;
}
  
#field td {
    width: 110px;
    height: 110px;
    border: 2px solid black;
    text-align: center;
    font-size: 60px;
    cursor: pointer;
}
body {
    background-color: rgba(224, 213, 68, 0.309);  
}

td {
    background-color: aliceblue;
}

h2 {
    display: flex; justify-content: center;
}


  